Repository datumforge/datum: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, go-version, ato-go-linter, gomod

.pre-commit-config.yaml:

default_stages: [pre-commit]
fail_fast: true
default_language_version:
  golang: system
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: jsonschema/api-docs.md
      - id: detect-private-key
        exclude: 'pkg/tokens/testdata/.*'

  - repo: https://github.com/google/yamlfmt
    rev: v0.13.0
    hooks:
      - id: yamlfmt

  - repo: https://github.com/crate-ci/typos
    rev: v1.22.9
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: format-graphql
        name: Format GraphQL
        description: This hook formats GraphQL schemas
        entry: npx format-graphql@1.4.0 --write=true
        language: node
        files: 'query/.*\.graphql$'

  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: scripts/check-go-version
        language: script
        types: [go]

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run ${GOLANGCI_LINT_VERBOSE} -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: local
    hooks:
      - id: ato-go-linter
        name: ato-go-linter
        entry: scripts/pre-commit-go-custom-linter ato-linter
        files: \.go$
        pass_filenames: false
        language: script

  - repo: local
    hooks:
      - id: gomod
        name: gomod
        entry: scripts/pre-commit-go-mod
        language: script
        files: go.mod
        pass_filenames: false

add missing commets
  config/config.go
  internal/ent/interceptors/orgmembers.go
Due: go-version, ato-go-linter

config:generate
  jsonschema/datum.config.json
Due: none

revert rate limit
  internal/httpserve/route/router.go
Due: go-version, ato-go-linter

Token LastUsed not updated
  internal/graphapi/apitoken_test.go
  internal/graphapi/personalaccesstoken_test.go
Due: go-version, ato-go-linter

Token LastUsed not updated
  pkg/middleware/auth/auth.go
Due: go-version, ato-go-linter

Token LastUsed not updated
  internal/graphapi/apitoken_test.go
Due: go-version, ato-go-linter

Update internal/graphapi/apitoken_test.go
  internal/graphapi/apitoken_test.go
Due: go-version, ato-go-linter

Update internal/graphapi/personalaccesstoken_test.go
  internal/graphapi/personalaccesstoken_test.go
Due: go-version, ato-go-linter

Update pkg/middleware/auth/auth.go
  pkg/middleware/auth/auth.go
Due: go-version, ato-go-linter

allow the updates; the user was authorized so we shouldnt need to query fga, fix context, fix middleware order
  internal/graphapi/apitoken_test.go
  pkg/middleware/auth/auth.go
  pkg/testutils/client.go
Due: go-version, ato-go-linter

context in pat test, comment on function
  internal/graphapi/personalaccesstoken_test.go
  pkg/middleware/auth/auth.go
Due: go-version, ato-go-linter

Bug token lastused (#1149)
  internal/graphapi/apitoken_test.go
  internal/graphapi/personalaccesstoken_test.go
  pkg/middleware/auth/auth.go
  pkg/testutils/client.go
Due: go-version, ato-go-linter

Update database in README
  README.md
Due: none

run generate
  internal/ent/generated/ent.go
  internal/ent/generated/runtime/runtime.go
Due: go-version, ato-go-linter

Update README.md
  README.md
Due: none

fix indents
  README.md
Due: none

Update database in README (#1159)
  README.md
Due: none

run generate
  internal/ent/generated/runtime/runtime.go
Due: go-version, ato-go-linter

enthistory version
  go.mod
  go.sum
Due: gomod

adjust for breaking change to RPOrigin in webauthn package
  config/.env.example
  config/config-aio.example.yaml
  config/config-dev.example.yaml
  config/config.example.yaml
  config/configmap.yaml
  jsonschema/api-docs.md
  jsonschema/datum.config.json
  pkg/providers/webauthn/config.go
Due: go-version, ato-go-linter

bump geodetic image version to latest
  docker/all-in-one/Dockerfile.all-in-one
Due: none

bump geodetic image version to latest (#1178)
  docker/all-in-one/Dockerfile.all-in-one
Due: none

update base ci image version
  .buildkite/pipeline.yaml
Due: none

add back logger
  cmd/root.go
Due: go-version, ato-go-linter

go mod tidy
  go.mod
Due: gomod

Update cmd/root.go
  cmd/root.go
Due: go-version, ato-go-linter
