Repository datumforge/datum: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, go-version, ato-go-linter, gomod

format-graphql:
  name: Format GraphQL
  description: This hook formats GraphQL schemas
  entry: npx format-graphql@1.4.0 --write=true
  language: node

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

ato-go-linter:
  name: ato-go-linter
  entry: scripts/pre-commit-go-custom-linter ato-linter
  pass_filenames: false
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

remove the entgo snapshot feature
  internal/ent/entc.go
  internal/ent/generated/internal/schema.go
Due: go-version, ato-go-linter

remove the entgo snapshot feature (#1063)
  internal/ent/entc.go
  internal/ent/generated/internal/schema.go
Due: go-version, ato-go-linter

enable query generation, bump entx
  go.mod
  go.sum
  internal/ent/entc.go
  internal/ent/schema/emailverificationtoken.go
  internal/ent/schema/oauthprovider.go
  internal/ent/schema/passwordresettoken.go
  internal/ent/schema/webauthn.go
  pkg/datumclient/graphclient.go
  query/documentdatahistory.graphql
  query/entitlementhistory.graphql
  query/eventhistory.graphql
  query/featurehistory.graphql
  query/filehistory.graphql
  query/grouphistory.graphql
  query/groupmembershiphistory.graphql
  query/groupsettinghistory.graphql
  query/hushhistory.graphql
  query/integrationhistory.graphql
  query/oauthproviderhistory.graphql
  query/organizationhistory.graphql
  query/organizationsettinghistory.graphql
  query/orgmembershiphistory.graphql
  query/subscriber.graphql
  query/templatehistory.graphql
  query/userhistory.graphql
  query/usersettinghistory.graphql
  query/webhookhistory.graphql
Due: format-graphql, go-version, ato-go-linter, gomod

run generate
  pkg/datumclient/graphclient.go
Due: go-version, ato-go-linter

mod tidy
  go.mod
Due: gomod

enable query generation, bump entx (#1067)
  go.mod
  go.sum
  internal/ent/entc.go
  internal/ent/schema/emailverificationtoken.go
  internal/ent/schema/oauthprovider.go
  internal/ent/schema/passwordresettoken.go
  internal/ent/schema/webauthn.go
  pkg/datumclient/graphclient.go
  query/documentdatahistory.graphql
  query/entitlementhistory.graphql
  query/eventhistory.graphql
  query/featurehistory.graphql
  query/filehistory.graphql
  query/grouphistory.graphql
  query/groupmembershiphistory.graphql
  query/groupsettinghistory.graphql
  query/hushhistory.graphql
  query/integrationhistory.graphql
  query/oauthproviderhistory.graphql
  query/organizationhistory.graphql
  query/organizationsettinghistory.graphql
  query/orgmembershiphistory.graphql
  query/subscriber.graphql
  query/templatehistory.graphql
  query/userhistory.graphql
  query/usersettinghistory.graphql
  query/webhookhistory.graphql
Due: format-graphql, go-version, ato-go-linter, gomod

feat: add generation of cmd stubs
  cmd/cli/Taskfile.yaml
  cmd/cli/gencmd/generate.go
  cmd/cli/gencmd/generate/cmd/generate.go
  cmd/cli/gencmd/generate/cmd/root.go
  cmd/cli/gencmd/generate/main.go
  cmd/cli/gencmd/generate/prompts/name.go
  cmd/cli/gencmd/generate/prompts/template.go
  cmd/cli/gencmd/templates/create.tmpl
  cmd/cli/gencmd/templates/delete.tmpl
  cmd/cli/gencmd/templates/doc.tmpl
  cmd/cli/gencmd/templates/get.tmpl
  cmd/cli/gencmd/templates/root.tmpl
  cmd/cli/gencmd/templates/update.tmpl
  cmd/cli/main.go
  go.mod
  go.sum
Due: go-version, ato-go-linter, gomod

generate again, last cmd
  cmd/cli/cmd/orgmembers/create.go
  cmd/cli/cmd/orgmembers/delete.go
  cmd/cli/cmd/orgmembers/get.go
  cmd/cli/cmd/orgmembers/root.go
  cmd/cli/cmd/orgmembers/update.go
  pkg/datumclient/graphclient.go
Due: go-version, ato-go-linter

fix get by id tables
  cmd/cli/cmd/apitokens/root.go
  cmd/cli/cmd/entitlementplan/root.go
  cmd/cli/cmd/entitlementplanfeatures/root.go
  cmd/cli/cmd/entitlements/root.go
  cmd/cli/cmd/events/root.go
  cmd/cli/cmd/features/root.go
  cmd/cli/cmd/group/root.go
  cmd/cli/cmd/groupsetting/root.go
  cmd/cli/cmd/integration/root.go
  cmd/cli/cmd/invite/root.go
  cmd/cli/cmd/org/root.go
  cmd/cli/cmd/orgmembers/root.go
  cmd/cli/cmd/orgsetting/root.go
  cmd/cli/cmd/personalaccesstokens/root.go
  cmd/cli/cmd/subscriber/root.go
  cmd/cli/cmd/user/root.go
  cmd/cli/cmd/usersetting/root.go
  cmd/cli/cmd/webhook/root.go
  pkg/datumclient/graphclient.go
  query/groupmembership.graphql
  query/groupsetting.graphql
  query/organizationsetting.graphql
Due: format-graphql, go-version, ato-go-linter

fix entitlement plans output, group memebrs test
  cmd/cli/cmd/entitlementplan/root.go
  cmd/cli/cmd/entitlementplanfeatures/root.go
  cmd/cli/cmd/entitlements/root.go
  cmd/cli/cmd/orgmembers/root.go
  internal/graphapi/groupmembers_test.go
Due: go-version, ato-go-linter

fixes
  internal/ent/interceptors/user.go
  internal/graphapi/groupmembers_test.go
  pkg/datumclient/graphclient.go
  query/groupmembership.graphql
Due: format-graphql, go-version, ato-go-linter

generate after merge conflicts
  pkg/datumclient/graphclient.go
  query/entitlementplanfeaturehistory.graphql
  query/entitlementplanhistory.graphql
Due: format-graphql, go-version, ato-go-linter

Add README
  cmd/cli/gencmd/README.md
  cmd/cli/gencmd/generate/cmd/root.go
Due: go-version, ato-go-linter

deps: bump fgax
  go.mod
  go.sum
Due: gomod

Add ForeignKeyError type and error handling in parseRequestError
  internal/graphapi/errors.go
  pkg/rout/errors.go
Due: go-version, ato-go-linter

add hermit and basic readme
  README.md
  Taskfile.yaml
Due: none

add hermit and taskfile updates
  .gitignore
  .pre-commit-config.yaml
  README.md
  Taskfile.yaml
  bin/.age@latest.pkg
  bin/.atlas@latest.pkg
  bin/.docker-compose@latest.pkg
  bin/.go-1.22.4.pkg
  bin/.golangci-lint@latest.pkg
  bin/.pre-commit@latest.pkg
  bin/.task@latest.pkg
  bin/README.hermit.md
  bin/activate-hermit
  bin/age
  bin/age-keygen
  bin/atlas
  bin/docker-compose
  bin/go
  bin/gofmt
  bin/golangci-lint
  bin/hermit
  bin/hermit.hcl
  bin/pre-commit
  bin/task
  query/entitlementplanhistory.graphql
  query/feature.graphql
  query/hushhistory.graphql
  query/organizationsetting.graphql
  query/templatehistory.graphql
  query/webhookhistory.graphql
Due: format-graphql

task generate
  pkg/datumclient/graphclient.go
Due: go-version, ato-go-linter

go mod tidy
  go.sum
Due: none

refetch google/github/social provider avatars every login
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/ent_test.go
  internal/httpserve/handlers/oauth_login.go
  internal/httpserve/handlers/oauth_login_handlers_test.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/webauthn.go
  pkg/models/models.go
Due: go-version, ato-go-linter

set success:true on oauth register response
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/oauth_register_test.go
Due: go-version, ato-go-linter

refetch google/github/social provider avatars every login
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/oauth_login_handlers_test.go
Due: go-version, ato-go-linter

allow members to be queried in authorized organization
  internal/ent/interceptors/user.go
  internal/graphapi/organization_test.go
Due: go-version, ato-go-linter

add hermit and taskfile updates (#1079)
  .gitignore
  .pre-commit-config.yaml
  README.md
  Taskfile.yaml
  bin/.age@latest.pkg
  bin/.atlas@latest.pkg
  bin/.docker-compose@latest.pkg
  bin/.go-1.22.4.pkg
  bin/.golangci-lint@latest.pkg
  bin/.pre-commit@latest.pkg
  bin/.task@latest.pkg
  bin/README.hermit.md
  bin/activate-hermit
  bin/age
  bin/age-keygen
  bin/atlas
  bin/docker-compose
  bin/go
  bin/gofmt
  bin/golangci-lint
  bin/hermit
  bin/hermit.hcl
  bin/pre-commit
  bin/task
  pkg/datumclient/graphclient.go
  query/entitlementplanhistory.graphql
  query/feature.graphql
  query/hushhistory.graphql
  query/organizationsetting.graphql
  query/templatehistory.graphql
  query/webhookhistory.graphql
Due: format-graphql, go-version, ato-go-linter

set success:true on oauth register response (#1085)
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/oauth_register_test.go
Due: go-version, ato-go-linter

allow members to be queried in authorized organization (#1086)
  internal/ent/interceptors/user.go
  internal/graphapi/organization_test.go
Due: go-version, ato-go-linter

fix bugs
  internal/ent/hooks/invite.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/orgmembers.go
  internal/ent/hooks/usersettings.go
  internal/ent/schema/organization.go
  internal/graphapi/models_test.go
Due: go-version, ato-go-linter

test invite accept update, add datum client
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/tools_test.go
  pkg/testutils/client.go
Due: go-version, ato-go-linter

remove debug line
  internal/ent/hooks/invite.go
Due: go-version, ato-go-linter

wip: default org update
  internal/ent/generated/orgmembership/orgmembership.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/orgmembers.go
  internal/ent/schema/orgmembership.go
  internal/graphapi/models_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgmembers_test.go
Due: go-version, ato-go-linter

comments, fix auth data after invite accept
  internal/ent/hooks/organization.go
  internal/ent/hooks/orgmembers.go
  internal/httpserve/handlers/invite.go
Due: go-version, ato-go-linter

refetch google/github/social provider avatars every login
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/ent_test.go
Due: go-version, ato-go-linter

refetch google/github/social provider avatars every login
  internal/httpserve/handlers/ent.go
Due: go-version, ato-go-linter

bug fix on org-member create
  internal/ent/hooks/usersettings.go
  internal/ent/privacy/rule/allow_if_token_valid.go
  internal/graphapi/models_test.go
  internal/httpserve/handlers/forgotpassword_test.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/oauth_login_handlers_test.go
  internal/httpserve/handlers/oauth_register_test.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/resend_test.go
  internal/httpserve/handlers/resetpassword_test.go
  internal/httpserve/handlers/userinfo_test.go
  internal/httpserve/handlers/verify_test.go
  internal/httpserve/handlers/verifysubscribe_test.go
Due: go-version, ato-go-linter

task file for test with libsql, fix test names
  Taskfile.yaml
  internal/graphapi/orgmembers_test.go
Due: go-version, ato-go-linter

Path conditions:
  format-graphql: any of: query/.*\.graphql$
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  gomod: any of: go.mod
