Repository datumforge/datum: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, go-version, ato-go-linter, gomod

.pre-commit-config.yaml:

default_stages: [pre-commit]
fail_fast: true
default_language_version:
  golang: system
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: jsonschema/api-docs.md
      - id: detect-private-key
        exclude: 'pkg/tokens/testdata/.*'

  - repo: https://github.com/google/yamlfmt
    rev: v0.13.0
    hooks:
      - id: yamlfmt

  - repo: https://github.com/crate-ci/typos
    rev: v1.22.9
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: format-graphql
        name: Format GraphQL
        description: This hook formats GraphQL schemas
        entry: npx format-graphql@1.4.0 --write=true
        language: node
        files: 'query/.*\.graphql$'

  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: scripts/check-go-version
        language: script
        types: [go]

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run ${GOLANGCI_LINT_VERBOSE} -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: local
    hooks:
      - id: ato-go-linter
        name: ato-go-linter
        entry: scripts/pre-commit-go-custom-linter ato-linter
        files: \.go$
        pass_filenames: false
        language: script

  - repo: local
    hooks:
      - id: gomod
        name: gomod
        entry: scripts/pre-commit-go-mod
        language: script
        files: go.mod
        pass_filenames: false

Update cmd/root.go
  cmd/root.go
Due: go-version, ato-go-linter

lets just mod the tidy all right up
  go.mod
Due: gomod

feat: role to invite members to organization by other members
  fga/model/datum.fga
  fga/tests/tests.yaml
  internal/ent/hooks/group.go
  internal/ent/privacy/rule/invite.go
  internal/ent/schema/invite.go
  internal/graphapi/invite_test.go
Due: go-version, ato-go-linter

cli version
  .buildkite/pipeline.yaml
Due: none

same for delete as well
  fga/model/datum.fga
  internal/ent/privacy/rule/invite.go
  internal/ent/schema/invite.go
  internal/graphapi/invite_test.go
Due: go-version, ato-go-linter

log level
  internal/ent/privacy/rule/invite.go
Due: go-version, ato-go-linter

add orgs to pat cli response
  cmd/cli/cmd/personalaccesstokens/root.go
Due: go-version, ato-go-linter

correct commets
  internal/ent/hooks/apitoken.go
  internal/ent/hooks/personalaccesstoken.go
Due: go-version, ato-go-linter

trivy ignore CVE-2024-41110
  .trivyignore
Due: none

trivy ignore CVE-2024-41110 (#1188)
  .trivyignore
Due: none

feat: role to invite members to organization by other members (#1186)
  .buildkite/pipeline.yaml
  fga/model/datum.fga
  fga/tests/tests.yaml
  internal/ent/hooks/group.go
  internal/ent/privacy/rule/invite.go
  internal/ent/schema/invite.go
  internal/graphapi/invite_test.go
Due: go-version, ato-go-linter

add fga client auth settings
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/configmap.yaml
  docker/docker-compose-fga.yml
  jsonschema/api-docs.md
  jsonschema/datum.config.json
Due: none

deps: go:1.22.6 bump
  .buildkite/pipeline.yaml
  docker/Dockerfile
  go.mod
Due: gomod

upgrade go in hermit
  bin/.go-1.22.6.pkg
  bin/go
  bin/gofmt
Due: none

bump base image
  .buildkite/pipeline.yaml
Due: none

feat: check-access endpoint to query FGA for permissions
  internal/httpserve/handlers/check-access.go
  internal/httpserve/route/check-access.go
  internal/httpserve/route/router.go
  pkg/models/models.go
Due: go-version, ato-go-linter

fixup comments in models
  pkg/models/models.go
Due: go-version, ato-go-linter

add test
  internal/httpserve/handlers/checkaccess.go
  internal/httpserve/handlers/checkaccess_test.go
Due: go-version, ato-go-linter

fix file name
  internal/httpserve/route/checkaccess.go
Due: go-version, ato-go-linter

use tagged fgax version
  config/config-dev.example.yaml
  go.mod
  go.sum
Due: gomod

pr feedback - rename route, update input fields
  internal/httpserve/handlers/acccountaccess.go
  internal/httpserve/handlers/accountaccess_test.go
  internal/httpserve/route/accountaccess.go
  internal/httpserve/route/router.go
  pkg/models/models.go
Due: go-version, ato-go-linter

update comment
  internal/httpserve/handlers/acccountaccess.go
Due: go-version, ato-go-linter

remove trivy ignore, openfga docker image updated
  .trivyignore
Due: none

feat: check access handler (#1200)
  internal/httpserve/handlers/acccountaccess.go
  internal/httpserve/handlers/accountaccess_test.go
  internal/httpserve/route/accountaccess.go
  internal/httpserve/route/router.go
  pkg/models/models.go
Due: go-version, ato-go-linter

deps:go 1.22.6 (#1198)
  .buildkite/pipeline.yaml
  bin/.go-1.22.6.pkg
  bin/go
  bin/gofmt
  docker/Dockerfile
  go.mod
Due: gomod

remove trivy ignore, openfga docker image updated (#1206)
  .trivyignore
Due: none

feat: use fga credetials (#1201)
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/configmap.yaml
  docker/docker-compose-fga.yml
  go.mod
  go.sum
  jsonschema/api-docs.md
  jsonschema/datum.config.json
Due: gomod

fix: use specific minor
  docker/all-in-one/Dockerfile.all-in-one
Due: none

feat: list roles handler
  go.mod
  go.sum
  internal/httpserve/handlers/acccountaccess.go
  internal/httpserve/handlers/acccountlistroles.go
  internal/httpserve/handlers/accountlistroles_test.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/route/accountaccess.go
  internal/httpserve/route/accountlistroles.go
  internal/httpserve/route/router.go
  pkg/models/models.go
Due: go-version, ato-go-linter, gomod

fgax version bump
  go.mod
  go.sum
Due: gomod

extra task command for just the api
  Taskfile.yaml
Due: none

fix: use specific minor (#1210)
  docker/all-in-one/Dockerfile.all-in-one
Due: none

pr feedback, additional route based on authenticated user roles
  internal/httpserve/handlers/acccountaccess.go
  internal/httpserve/handlers/acccountroles.go
  internal/httpserve/handlers/acccountrolesorganization.go
  internal/httpserve/handlers/accountroles_test.go
  internal/httpserve/handlers/accountrolesorganization_test.go
  internal/httpserve/route/accountlistroles.go
  internal/httpserve/route/accountroles.go
  internal/httpserve/route/accountrolesorganization.go
  internal/httpserve/route/router.go
  pkg/auth/test_tools.go
  pkg/models/models.go
Due: go-version, ato-go-linter

unique name in test
  internal/httpserve/handlers/accountrolesorganization_test.go
Due: go-version, ato-go-linter

missing field in reply
  pkg/models/models.go
Due: go-version, ato-go-linter

feat: list roles handler (#1208)
  Taskfile.yaml
  internal/httpserve/handlers/acccountaccess.go
  internal/httpserve/handlers/acccountroles.go
  internal/httpserve/handlers/acccountrolesorganization.go
  internal/httpserve/handlers/accountroles_test.go
  internal/httpserve/handlers/accountrolesorganization_test.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/route/accountaccess.go
  internal/httpserve/route/accountroles.go
  internal/httpserve/route/accountrolesorganization.go
  internal/httpserve/route/router.go
  pkg/auth/test_tools.go
  pkg/models/models.go
Due: go-version, ato-go-linter

task pr
  go.sum
Due: none
